* {
  box-sizing: border-box;
}
body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #141414;
  color: #fff;
  cursor: default;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 10px;
  line-height: 1.2;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* .dark-bg.app {
  overflow: visible;
  position: static;
} */

.app {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  min-height: 100vh;
}
